<html>
  <head>
    <title>Formulario - Desafio 1</title>
  </head>
  <body>
    <form action="/check" method="POST">
      <input type="text" id="nome" name="nome" placeholder="Nome" />
      <input type="text" id="dataNascimento" name="dataNascimento" placeholder="DD/MM/YYYY" />
      <button type="submit">Enviar</button>
    <form>
  </body>
</html>
